/* * * * * * * * * * * * * * * * */
/* Universal Styling            */
/* * * * * * * * * * * * * * * */

html,body{ 
	height:100%;
	overflow: hidden;
}

.container{
	height: 100%;
	width: 100%;
}


.image-div img{
	width: 100px;
	height: 100px;
	margin-left: -15px;
}

.navbar{
	margin-bottom: 0px;
	min-height: 0px;
}

/* Registration styling */

#login-landing{
	background-color: #29ABE2;
}

#login-container{
	margin-top: 15vh;
}

#login-options a{
	color: black;
}

#registration-container{
	display: none;
}

#thanks-container{
	margin-top: 15vh;
}

#choice-container{
	margin-top: 15vh;
}

#redirecting{
	font-style: italic;
	margin-top: 25px;
}


/* Hides arrows on number inputs*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* * * * * * * * * * * * * * * * */
/* Main 'page' rent.php         */
/* * * * * * * * * * * * * * * */

/* Main page navigation */

#nav{
	height: 10%;
	background-color: #29ABE2;
	max-height: 70px;
}

#nav-row{
	background-color: #29ABE2;
	margin-top: 10px;
}

#hamburger{
	height: 100%;
	margin-left: 15px;
	margin-right: 5px;
}

#hamburger-icon:hover{
	cursor: pointer;
}

#searchbar{
	padding-left: 0px;
	display: none;
}

#pac-input{
	height: 50%;
	width: 90%;
	display: block;
	margin: 0 auto;
	padding: 5px;
	background-color: white;
}

#search-icon{
	color: white;
	font-size: 30px;
	margin-right: 5px;
}


#search-icon:hover{
	cursor: pointer;
}


/* Main page map content */

#main-container{
	height: 100%;
	width: 100%;
	margin: 0;
}

#map{
	height: 100%;
	padding: 0;
}

/* * * * * * * * * * * * * * * * */
/* Options Context Menu         */
/* * * * * * * * * * * * * * * */

#options-menu{
	height: 100%;
	display: none;
	padding: 0;
	background-color: #EDE8E8;
}

#user-profile{
	height: 100px;
	padding: 0;
	background-color: #29ABE2;
}

#user-profile img{
	display: block;
	margin: 0 auto;
}

#user-id{
	position: absolute;
	bottom: 0px;
	text-align: center;
}

#user-id p{
	margin-top:2px;
	margin-bottom: 2px;
	margin-left: -15px;
	color: #EDE8E8;
}

#options > a{
	text-align: center;
	margin-left: 0;
}

#options ul{
	list-style-type: none;
	margin-left: -15px;
}

#options li{
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: bold;
}

#options li:hover{
	cursor: pointer;
}

/* * * * * * * * * * * * * * * * */
/* Sub Pages from options menu  */
/* * * * * * * * * * * * * * * */


#sub-menu{
	display: none;
}

#sub-menu-header{
	background-color: #29ABE2;
	height: 10%;
	text-align: center;
	max-height: 75px;
}

.sub-menu-container{
	overflow: auto;
}

#sub-menu-footer{
	background-color: #29ABE2;
	height: 10%;
	bottom: 0;
	max-height: 70px;
}

#sub-menu-footer img{
	display: block;
	margin: 15px auto 0px auto;
}

#logo{
	max-height: 70px;
	float: left;
	display: block;
	margin: 0 auto;
	margin-left: 30px;
}

#sub-menu-title{
	color: #EDE8E8;
	position: relative;
	margin: 0px auto 0px auto;
	line-height: 70px;
	max-width: 400px;
}

.list-item{
	border: 1px solid #29ABE2;
	background-color: #EDE8E8;
	position: relative;
	margin-top: 5px;
	margin-bottom: 10px;
}

.list-text p{
	margin-bottom: 5px;
}

.park-owner{
	font-weight: bold;
}

.favourite{
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 5px;
	margin-right: 5px;
}

#add-car{
	margin-top: 15px;
}

#add-park{
	margin-top: 15px;
}

.btn-file{
	display: block;
}