html,body{ 
	height:100%; 
}

.container{
	height: 100%;
	width: 100%;
}


#pac-input{
	height: 10%;
	width: 300px;
	display: block;
	margin: 0 auto;
	padding: 5px;
}

#map{
	height: 90%;
	width: 100%;
}