/* Universal settings */

html,body{ 
	height:100%; 
}

.container{
	height: 100%;
	width: 100%;
}

/* Registration settings */

#login-container{
	margin-top: 15vh;
}

#registration-container{
	display: none;
}

#thanks-container{
	margin-top: 15vh;
}

#redirecting{
	font-style: italic;
	margin-top: 25px;
}

/* Hides arrows on number inputs*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

/* GoogleMap Specific Settings */

#pac-input{
	height: 10%;
	width: 300px;
	display: block;
	margin: 0 auto;
	padding: 5px;
}

#map{
	height: 90%;
	width: 100%;
}